@import "styles/global.scss";

.screen{
    background-color: rgb(10,11,13);
    display: flex;
    justify-content:center;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    overflow-x: visible;
}
.container {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    position: relative;
    // height: 100vh;
    width: 100vw;
    background-color: rgb(10,11,13);
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    &::before{
        content: '';
        display: inline-block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    section {
        display: inline-block;
        width: 100%;
    }
    .video {
        position: relative;
        margin-top: 15vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: auto;
        img {
            position: absolute;
            border-radius: 30px;
            width: 90%;
            height: 60vh;
            max-height: 60vh;
            object-fit: cover;
            z-index: -1;
            display: none;
        }
        video {
            border-radius: 30px;
            width: 90%;
            height: 70vh;
            max-height: 80vh;
            object-fit: cover;
        }
    }
}




.scroller {
    display: inline-block;
    width: 100vw;
    height: 300vh;
}
@media screen and (min-width: 768px) {
    .container{
        .video{
            video {

            }
        }
    }
}