@import "styles/global.scss";
@keyframes moveRight {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1000px);
    }
}
@keyframes moveLeft {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-200px);
    }
}


.countainer{
    position: static;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    .scroller{
        position: absolute;
        display: inline-block;
        top: 0vh;
        height: 100vh;
        width: 100vw;
        overflow: scroll;
        span{
            position: relative;
            display: inline-block;
            height: 300vh;
            width: 100vw;
            background-color: transparent;
            z-index: 8;
            opacity: 0.1;
            // pointer-events: none;
        }
    }
}
.zswiper{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    bottom: auto;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    z-index: 7;
    .title{
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        height: 100%;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family:  serif;
        color: #cec9c9;
        z-index: 9;
        h1{
            font-size: 20vw;
            margin-bottom: 0;
        }
        h2{
            font-size: 20px;
        }
    }
    div,p,ul,li{
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    .wrap{
        overflow-x: hidden;
    }
    ul{ 
        position: relative;
        display: flex;
        width: 100%;
        max-width: 100vw;
        overflow-x: hidden;
        overflow-y: hidden;
        li {
            &::marker{
                display: none;
            }
            display: inline-block;
            width: 100%;
            height: fit-content;
            filter: brightness(70%) grayscale(100%);
            transition: all linear 0.3s;
            &:hover{
                filter: brightness(90%) grayscale(0%);
                transition: all linear 0.3s;
            }
            img{
                width: 46vw;
                height: 66vw;
                object-fit: cover; 
            }
            margin-right: 8px;
            margin-bottom: 8px;
        }
        &:nth-child(2n-1){
            li:nth-child(2n-1){
                img{
                    width: 66vw;
                }
            }
        }
        &:nth-child(2n){
            li:nth-child(2n){
                img{
                    width: 76vw;
                }
            }
        }
    }

}



