@import "styles/global.scss";

@keyframes moveRight {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(1000px);
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-200px);
    }
}


.countainer {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: serif;
    color: #cec9c9;
    z-index: 9;

    h1 {
        font-size: 20vw;
        margin-bottom: 0;
    }

    h2 {
        font-size: 20px;
    }
}


.scroller {
    display: inline-block;
    width: 100vw;
    height: 300vh;
}

.zswiper {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-x:hidden;
    overflow-y: auto;
    z-index: 7;

}