@import "styles/global.scss";

.filmfall {
    position: relative;
    margin-top: 120rem;
    width: 100vw;
    height: 3900rem;
    .title{
        display: inline-block;
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(180deg, #0b0b0d, rgba(12, 12, 18, 0));
        z-index: 9;
    }
    .countainer{
        width: 100vw;
        display: flex;
        justify-content: center;
        position: sticky;
        height: 100vh;
        top: 0rem;
        bottom: 0rem;
        overflow: hidden;
        perspective: 100px;
        will-change: transform;
        transform: translate3d(0rem, 0%, 0rem) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        .header{
            position: absolute;
            top: 0;
            display: inline-block;
            width: 100%;
            height: 80rem;
            background-image: linear-gradient(
                to top,
                rgba(10,11,13,0) 0%,
                rgba(10,11,13,0.4) 40%,
                rgba(10,11,13,0.6) 60%,
                rgba(10,11,13,0.8) 80%,
                rgba(10,11,13,1) 100%);
            z-index: 999;
            top: -1rem;
            padding-left: 10rem;
            font-size: 36rem;
            font-family: serif;
            color: #cec9c9;
        }
        .footer{
            position: absolute;
            bottom: 0;
            display: inline-block;
            width: 100%;
            height: 80rem;
            background-image: linear-gradient(
                to bottom,
                rgba(10,11,13,0) 0%,
                rgba(10,11,13,0.4) 40%,
                rgba(10,11,13,0.6) 60%,
                rgba(10,11,13,0.8) 80%,
                rgba(10,11,13,1) 100%);
            z-index: 999;
            bottom: -1rem;
        }
  
    }
    .wrap {
        ul {
            width: 100%;
           
            &:first-child{
                padding-right: 10rem;
                li{
                    margin-right: 15rem;
                }
            }
            &:last-child{
                padding-right: 10rem;
            }
            li {
                position: relative;
                margin: 15rem 0;
                display: flex;
                justify-content: center;
                img {
                    width: 160rem;
                    height: 240rem;
                    border-radius: 15px;
                    object-fit: cover;
                    filter: brightness(80%) grayscale(10%);
                    opacity: 0.9;
                    transition: all linear 0.6s;
                    &:hover{
                        filter: brightness(100%) grayscale(0%);
                        opacity: 1;
                        transition: all linear 0.3s;
                    }
                }
                p{  
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 20%;
                    height: 50%;
                    justify-content: space-between;
                    align-items: center;
                    right: -15%;
                    span{
                        position: relative;
                        color: #cec9c9;
                        font-size: 8rem;
                        line-height: 1;
                        letter-spacing: 1px;
                        transform: rotate(90deg);
                        font-family: 'Beatrice', Arial, sans-serif;
                    }
                }
            }
        }
        &:first-child{
            // position: absolute;
            // top: -1000;
        }
        &:last-child{
            // display: none;
        }
    }
}