@import "styles/global.scss";

.film {
    position: relative;
    width: 100vw;
    height: 3200px;
    .title{
        display: inline-block;
        height: 10vh;
        width: 100%;
        background-image: linear-gradient(180deg, #0b0b0d, rgba(12, 12, 18, 0));
        z-index: 9;
        will-change: transform;
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }
    .countainer{
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: center;
        position: sticky;
        height: 100vh;
        top: 0px;
        bottom: 0px;
        overflow: hidden;
        perspective: 2200px;
  
    }
    .wrap {
        ul {
            width: 100%;
            li {
                margin: 15px 5px;
                display: flex;
                justify-content: center;
                img {
                    width: 230px;
                    height: 322px;
                    border-radius: 15px;
                    object-fit: cover;
                    filter: brightness(80%) grayscale(10%);
                    opacity: 0.9;
                    transition: all linear 0.6s;
                    &:hover{
                        filter: brightness(100%) grayscale(0%);
                        opacity: 1;
                        transition: all linear 0.3s;
                    }
                }
                p{
                    display: none;
                }
            }
        }
        &:first-child{
            // position: absolute;
            // top: -1000;
        }
        &:last-child{
            // display: none;
        }
    }
}